PORT=5000
NODE_ENV=development
APP_URL=http://localhost:5000

MONGODB_URI=mongodb://127.0.0.1:27017/primenet
JWT_SECRET=change_this_to_a_long_random_secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_this_admin_password

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

BREVO_API_KEY=your_brevo_api_key
BREVO_SENDER_EMAIL=your_verified_sender_email
BREVO_SENDER_NAME=PrimeNet
